<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portale Universitario - Login</title>
    <link rel="stylesheet" type="text/css" media="all" href="./css/base.css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="./css/layout.css" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="./css/form.css" th:href="@{/css/form.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="./css/button.css" th:href="@{/css/button.css}" />
  </head>
  <body>
    <header>
      <h1>MegaloPoli - Portale Universitario</h1>
    </header>
    <main>
      <section class="login-form">
        <h2>Login</h2>
        <form action="CheckLogin" method="POST">
          <label for="mail">Username:</label>
          <input type="text" name="mail" required />
          
          <label for="psw">Password:</label>
          <input type="password" name="psw" required />
          
          <button type="submit" value="login" class="btn btn-primary">Accedi</button>
        </form>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 Università MegaloPoli, Milano</p>
    </footer>
  </body>
</html>
