<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin's home</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Bentornato nella home page</h1>
	<span th:text="${session.user.name}">Simone</span>
	<span th:text="${session.user.surname}">Ranfoni</span>
	
	 <div th:if="${#lists.isEmpty(availableCourses)}">
    <p>Nessun corso disponibile!</p>
  </div>

  <div th:if="${not #lists.isEmpty(availableCourses)}">
    <form th:action="@{/GoToHomeProfessor}" method="POST">
      <label for="scelta">Seleziona corso:</label>
      <select name="scelta" id="scelta" required>
        <option value=""
              th:if="${session.selectedCourseID == null}"
              disabled
              selected>
        	    Seleziona un corso
        </option>
        <option th:each="course : ${availableCourses}"
                th:value="${course.id}"
                th:text="${course.courseName}"
                th:selected="${course.id == session.selectedCourseID}">
        </option>
      </select>
      <button type="submit">Mostra le date d'appello</button>
    </form>
  </div>
  
  <div th:if="${availableDates != null}">
  	<div th:if="${#lists.isEmpty(availableDates)}">
    	<p>Nessun appello disponibile!</p>
  	</div>
  	<div th:if="${not #lists.isEmpty(availableDates)}">
  		<form th:action="@{/GoToStudentTable}" method="GET">
		    <label for="date">Seleziona data d'appello:</label>
		    <select name="date" id="date">
		      <option th:each="app : ${availableDates}"
		      	      th:value="${app.date}"
		              th:text="${#temporals.format(app.date, 'dd/MM/yyyy')}">
		      </option>
		    </select>
		    <button type="submit">Vedi informazioni appello</button>
		</form>
	</div>
  </div>
  
  <div align="left">
		<a th:href="@{/GetVerbals}">Visualizza i tuoi verbali</a>
	</div>
  
</body>
</html>