<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin's home</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Professor Home page</h1>
	Nice to see you again
	<span th:text="${session.user.mail}">Simone</span>
	<p>Please use the form to create a new project</p>
	<form
		th:action="@{/CreateProject}"
		method="POST">
		<input type="text" name="projectname" required> 
		<input type="submit" name="create" value="Create Project" >
	</form>
	<a href="ProjectManagement.html" th:href="@{/GoToProjectManagement}">Go
		to worker assignment</a>
</body>
</html>