<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Gestione Esame</title>
</head>

<body>

<h1>Gestione Esame</h1>
<div align="right">
		<a th:href="@{/Logout}">Logout</a>
</div>
<h3>Appello: </h3>
<span th:text="${nome_corso}">TIW</span> del 
<span th:text="${esame.date}">2000-01-01</span>


<div th:if="${esame.state == 'non inserito' or esame.state == 'inserito'}">
	<h3>Voto non ancora definito.</h3>
</div>

<div th:if="${esame.state == 'pubblicato' or esame.state == 'rifiutato' or esame.state == 'verbalizzato'}">
<h3>Voto: <span th:text="${esame.mark}">7 ;(</span></h3>
<h3>Stato: <span th:text="${esame.state}">Pubblicato</span></h3>
<hr>

<div th:if="${esame.state == 'pubblicato' and esame.mark != 'assente' and esame.mark != 'rimandato' and esame.mark != 'riprovato'}">
<a th:href="@{/Reject(selectedCourseID=${selectedCourseID}, selectedExam=${selectedExam})}">
  <button type="submit">Rifiuta Voto</button>
</a>
</div>

</div>

<div align="left">
		<a th:href="@{/GoToHomeStudent}">Torna a selezione appello</a>
 </div>
</body>
</html>